name: CI - Release Candidate (Java Library)

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: '21'
      sonar_project_key:
        required: true
        type: string

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build & Test
    if: startsWith(github.ref, 'refs/heads/release/')
    uses: ./.github/workflows/build-java-maven.yaml
    with:
      java-version: ${{ inputs.java-version }}
      sonar_project_key: ${{ inputs.sonar_project_key }}

  prepare-rc:
    name: Prepare RC Version & Deploy
    needs: build
    uses: ./.github/workflows/deploy-java-maven-release-candidate.yaml
    secrets: inherit    
    with:
      java-version: ${{ inputs.java-version }}