name: CI - Release → RC com Versão, Tag e Build

on:
  workflow_call:
    inputs:
    
      java-version:
        required: false
        type: string
        default: '21'

      terraform-version:
        required: false
        type: string
        default: '1.9.6'

      sonar_project_key:
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build & Test
    uses: ./.github/workflows/build-java-maven.yaml
    with:
      java-version: ${{ inputs.java-version }}
      sonar_project_key: ${{ inputs.sonar_project_key }}

  deploy-artifact:
    name: Validate and Version RC
    needs: build
    uses: ./.github/workflows/deploy-java-maven-release-candidate.yaml
    secrets: inherit
    with:
      java-version: ${{ inputs.java-version }}

  create-docker-image:
    name: Create Docker Image
    needs: [deploy-artifact]
    secrets: inherit
    uses: ./.github/workflows/create-docker-image.yaml
    with:
      java-version: ${{ inputs.java-version }}

  # apply-terraform:
  #   uses: ./.github/workflows/apply-terraform-infra.yaml
  #   needs: [create-docker-image]
  #   secrets: inherit
  #   with:
  #     terraform_version: ${{ inputs.terraform-version }}
  #     base_version: ${{ needs.deploy-artifact.outputs.next_rc_version }}
  #     deploy_infra: false