name: CI - Feature Validation (Java Application)

on:
  workflow_call:
    inputs:
    
      java-version:
        required: false
        type: string
        default: '21'
      
      aws-region:
        required: false
        type: string
        default: 'us-east-1'

      terraform-version:
        required: false
        type: string
        default: '1.9.6'

      base-branch:
        required: false
        type: string
        default: 'develop'
    
    
    secrets:
      AWS_ACCESS_KEY_ID:
        required: false
      AWS_SECRET_ACCESS_KEY:
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    name: Build & Test
    uses: ./.github/workflows/build-java-maven.yml
    with:
      java-version: ${{ inputs.java-version }}

  validate-terraform:
    uses: ./.github/workflows/apply-terraform-infra.yml
    needs: [build]
    secrets: inherit
    with:
      terraform_version: ${{ inputs.terraform-version }}
      deploy_infra: false
      environment: 'dev'

  open-pr:
    needs: build
    runs-on: ubuntu-latest
    uses: ./.github/workflows/open-pr.yml
    secrets: inherit
    with:
      base-branch: '${{ inputs.base-branch }}'