name: CI - Feature Validation (Java Application)

on:
  workflow_call:
    inputs:
    
      java-version:
        required: false
        type: string
        default: '21'

      terraform-version:
        required: false
        type: string
        default: '1.9.6'

      base-branch:
        required: false
        type: string
        default: 'develop'
    
      sonar_project_key:
        required: false
        type: string

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  build:
    name: Build & Test
    uses: ./.github/workflows/build-java-maven.yaml
    with:
      java-version: ${{ inputs.java-version }}
      sonar_project_key: ${{ inputs.sonar_project_key }}

  # validate-terraform:
  #   uses: ./.github/workflows/apply-terraform-infra.yaml
  #   needs: [build]
  #   secrets: inherit
  #   with:
  #     terraform_version: ${{ inputs.terraform-version }}
  #     deploy_infra: false
  #     environment: 'dev'

  open-pr:
    needs: build
    uses: ./.github/workflows/open-pr.yaml
    with:
      base-branch: ${{ inputs.base-branch }}
    secrets: inherit