name: CI - Release Candidate (Java Library)

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: '21'
    secrets:
      NEXUS_USERNAME:
        required: true
      NEXUS_PASSWORD:
        required: true

jobs:
  build:
    name: Build & Test
    uses: ./.github/workflows/build-java-maven.yml
    with:
      java-version: ${{ inputs.java-version }}

  prepare-rc:
    name: Prepare RC Version & Deploy
    needs: build
    uses: ./.github/workflows/deploy-java-maven-release-candidate.yml
    secrets: inherit    
    with:
      java-version: ${{ inputs.java-version }}
